
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  font-family: "Jost", serif;
}

/*Hero Section*/
.dropdown-menu{
  transform: translateY(15px);
}

.dropdown:hover .dropdown-menu{
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-4px);
  
}

td{
  padding: 10px;
}

.table-striped tr:nth-child(odd){
  background-color: white;
}

/*Product card*/
/* .product-card:hover .add-cart-btn{
  display: block;

} */

/*Product Section*/
.section-title{
  position:relative;

}

.section-title::after{
  content:"";
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  height: 2px;
  width: 10vw;
  background-color: black;
  margin-left: 10px;
}


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.line{
  position: relative;
  color: gray;
  cursor: pointer;
}

.line::before{
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
  height: 2px;
  background: black;
  transition: all 300ms ease-in;
  width: 0;
  z-index: 10;
}


.line:hover::before,.line-active::before{
  width: 100%;
}

.line-active{
  color: black;
}

.line:hover{
  color: black;
}

/* loading */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
  margin: auto;
  
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #000;
  animation: prixClipFix 2s linear infinite ;  
}

@keyframes rotate {
  100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}


.toastify-toast {
  font-size: 16px;
  color: #fff;
  background-color: #333;
}

.toastify-toast--success {
  background-color: #28a745;
}

.toastify-toast--error {
  background-color: #dc3545;
}
